.header {
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .left {
    padding-left: 50px;
}


.header .left:first-child {
    cursor: pointer;
}


.header .right {
    padding-right: 50px;
}

.header .right select {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    outline: none;
    color: #777777;
}


.download {
    width: 100%;
    height: 60vh;
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 50px;
}

.download h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.download a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    opacity: 0.5;
    margin-top: 15px;
}


.download .input {
    width: 650px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #F0B500;
    overflow: hidden;
}


.download .input input {
    width: 85%;
    height: 40px;
    padding-left: 5px;
    outline: none;
    border: none;
    font-size: 18px;
}

.download .input button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    border: none;
    background-color: #fcf0cd;
    cursor: pointer;
    padding: 15px;
    border-left: 1px solid #F0B500;
}


.download .ads {
    width: 800px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.228);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}