.text_h3p {
    width: 640px;
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 14px;
    margin: 0 auto;
    margin-top: 40px;
}

.select {
    width: 606px;
    height: 20px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ctr {
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
}
.when {
    color: #777777;
    margin-top: 15px;
}
hr {
    margin-top: 15px;
}
.body {
    height: 0;
    transition: ease-in-out 1s;
    overflow: hidden;
}
.body.open {
    height: auto;
}

@media screen and (max-width:400px) {
  .text_h3p {
    width: 100%;
  }   
}