* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  text-decoration: none;
  list-style: none;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left {
  padding-left: 50px;
}


.header .left:first-child {
  cursor: pointer;
}


.header .right {
  padding-right: 50px;
}

.header .right select {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  color: #777777;
}


.download {
  width: 100%;
  height: 60vh;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 50px;
}

.download h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 50.12px;
}

.download p {
  color: #777777;
  margin-top: 15px;
  font-size: 20px;
}


.download form {
  width: 650px;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  border-width: 0px, 0px, 0px, 0px;
  border-style: solid;
  border-color: #F0B500;
  overflow: hidden;
}


.download form input {
  width: 85%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 15px;


}

.download form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  border: none;
  background-color: #fcf0cd;
  cursor: pointer;
  padding: 15px;
  border-left: 1px solid #F0B500;
}

.download a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 15px;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  height: 200vh;
}


.App .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.App .section .title {
  background-color: #FAF0D1;
  height: 40px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.App .section .description {
  margin-top: 10px;
  color: #555555;
  text-align: center;
}

.App .card_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 150px;
  margin-top: 15px;
  height: 370px;

}

.container {
  width: 1282px;
  height: 100vh;
}

.container_textdiv {
  width: 960px;
  height: 270px;
  border-radius: 8px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textdiv_p1 {
  width: 467px;
  height: 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.textdiv_p2 {
  width: 926px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.textdiv_card {
  width: 454px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_textp {
  width: 454px;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.textp_radius {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background:
    #E8AF21;
}

.textp_p {
  font-size: 16px;
  font-weight: 400;
}



.vedio_div {
  width: 1282px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.ins {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #F2F2F2;
}

.play {
  width: 100px;
  position: absolute;
  right: 850px;
  margin-top: 130px;
}

.boy {
  width: 620px;
  height: 340px;
}


.Footer {
  width: 100%;
  height: 50vh;
}

.Footer .footerChild {
  width: 70%;
  height: 30%;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  margin-left: 230px;
  margin-top: 30px;
}

.Footer .text {
  width: 68.7%;
  background-color: #F2F2F2;
  padding: 10px;
  margin-left: 230px;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 30px;
  color: #515151;
}

.Footer .links {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.373);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.Footer .links a {
  margin: 0px 15px;
  font-size: 16px;
  color: black;
  text-decoration: underline !important;
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;

}

.github span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 200;
  font-size: 20px;
  margin: 30px 25px;
}

.Footer p {
  text-align: center;
  margin-bottom: 20px;
}

.image {
  margin-left: 45%;
}

.section_card_wrap {
  margin-left: 140px;
}

@media screen and (max-width:400px) {

  /* .App div {
    border: 1px solid black;
  } */
  .download form {
    width: 100%;
    margin-left: 0;
  }

  .section .title {
    width: 100% !important;
    text-align: center;
  }

  .App .card_wrap {
    margin-left: 0;
    overflow-x: auto;
  }

  .card_wrap .card {
    margin-left: 40px;
  }

  .section_card_wrap {
    width: 100%;
    margin-left: 0;
  }

  .container_textdiv {
    width: 100% !important;
    height: auto !important;
  }

  .textdiv_card {
    width: 100% !important;
  }

  .container_textdiv .textdiv_p1,
  .textdiv_p2 {
    width: 96% !important;
  }

  .container_textdiv .textdiv_p2 {
    height: 30%;
  }

  .container_textdiv .textdiv_card .card_textp {
    width: 100% !important;
    margin-top: 15px;
  }

  .card_textp .textp_p {
    margin-top: 15px;
  }

  .vedio_div {
    display: block;
    width: 100% !important;
  }

  .ins {
    width: 100%;
  }

  .boy {
    width: 100%;
  }

  .play {
    right: 140px;
  }

  .text_h3p {
    width: 100%;
    height: 237px;
  }

  .text_h3p .select {
    width: 100%;
  }

  .Footer {
    width: 100%;
  }

  .Footer .text {
    margin-left: 60px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px !important;
    gap: 30px;
  }

  .Footer .image {
    margin-left: 130px;
  }
}