* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}


.App .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App .section .title {
  background-color: #FAF0D1;
  height: 40px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.App .section .description {
  margin-top: 5px;
  color: #555555;
  text-align: center;
}

.App .card_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 150px;
  margin-top: 15px;
  height: 370px;
}